.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0 0.3em 0.3em 0;
  /* padding: 0; */
}

h1 {
  font-weight: 900;
  font-size: 400%;
  text-align: center;
  margin-top: 4rem;
  background-color: rgb(68, 109, 198);
  color: whitesmoke;
  line-height: 1.2;
  text-decoration: underline;
}

h3 {
  background: #f4f4f4;
  width: 20%;
  line-height: 1;
  margin: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border-color: #0074e0;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  font-size: 14px;
  line-height: 28px;
  margin: 0px 12px 0px 0px;
  display: inline-block;
  text-align: center;
}

button {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background-color: white;
}

.signin-button {
  margin: 0 0.3em 0.3em 0;
}

.signout-button {
  margin: 0 0.3em 0.3em 0;
}
